azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.42.1.51946",
      "templateHash": "14604628122286123177"
    }
  },
  "parameters": {
    "namePrefix": {
      "type": "string",
      "metadata": {
        "description": "Name prefix for the Logic App resources"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "fabricCapacityName": {
      "type": "string",
      "metadata": {
        "description": "Name of the existing Fabric capacity to manage"
      }
    },
    "utcOffsetHours": {
      "type": "int",
      "defaultValue": 0,
      "minValue": -12,
      "maxValue": 14,
      "metadata": {
        "description": "Your UTC offset in whole hours (e.g. -5 for Eastern, 0 for UTC, 1 for Central Europe, 8 for Singapore). Half-hour zones: use the nearest whole hour."
      }
    },
    "fabricCapacityResourceGroupName": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "Name of the resource group that contains the Fabric capacity (may differ from the deployment resource group)"
      }
    },
    "resumeHour": {
      "type": "int",
      "defaultValue": 8,
      "metadata": {
        "description": "Hour to resume the capacity (24-hour format)"
      }
    },
    "suspendHour": {
      "type": "int",
      "defaultValue": 17,
      "metadata": {
        "description": "Hour to suspend the capacity (24-hour format)"
      }
    },
    "runOnMonday": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Run schedule on Monday"
      }
    },
    "runOnTuesday": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Run schedule on Tuesday"
      }
    },
    "runOnWednesday": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Run schedule on Wednesday"
      }
    },
    "runOnThursday": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Run schedule on Thursday"
      }
    },
    "runOnFriday": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Run schedule on Friday"
      }
    },
    "runOnSaturday": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Run schedule on Saturday"
      }
    },
    "runOnSunday": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Run schedule on Sunday"
      }
    }
  },
  "variables": {
    "contributorRoleId": "b24988ac-6180-42a0-ab88-20f7382dd24c",
    "resumeHourUtc": "[mod(add(sub(parameters('resumeHour'), parameters('utcOffsetHours')), 48), 24)]",
    "suspendHourUtc": "[mod(add(sub(parameters('suspendHour'), parameters('utcOffsetHours')), 48), 24)]",
    "selectedWeekDays": "[concat(if(parameters('runOnMonday'), createArray('Monday'), createArray()), if(parameters('runOnTuesday'), createArray('Tuesday'), createArray()), if(parameters('runOnWednesday'), createArray('Wednesday'), createArray()), if(parameters('runOnThursday'), createArray('Thursday'), createArray()), if(parameters('runOnFriday'), createArray('Friday'), createArray()), if(parameters('runOnSaturday'), createArray('Saturday'), createArray()), if(parameters('runOnSunday'), createArray('Sunday'), createArray()))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('{0}-resume', parameters('namePrefix'))]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": "[variables('selectedWeekDays')]",
                  "hours": [
                    "[variables('resumeHourUtc')]"
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "UTC"
              }
            }
          },
          "actions": {
            "Get_Current_Capacity_State": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[format('https://management.azure.com{0}?api-version=2023-11-01', extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('fabricCapacityResourceGroupName')), 'Microsoft.Fabric/capacities', parameters('fabricCapacityName')))]",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com"
                }
              },
              "runAfter": {}
            },
            "Check_If_Paused": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Get_Current_Capacity_State')?['properties']?['state']",
                      "Paused"
                    ]
                  }
                ]
              },
              "actions": {
                "Resume_Capacity": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[format('https://management.azure.com{0}/resume?api-version=2023-11-01', extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('fabricCapacityResourceGroupName')), 'Microsoft.Fabric/capacities', parameters('fabricCapacityName')))]",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com"
                    }
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_Current_Capacity_State": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('{0}-suspend', parameters('namePrefix'))]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": "[variables('selectedWeekDays')]",
                  "hours": [
                    "[variables('suspendHourUtc')]"
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "UTC"
              }
            }
          },
          "actions": {
            "Get_Current_Capacity_State": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[format('https://management.azure.com{0}?api-version=2023-11-01', extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('fabricCapacityResourceGroupName')), 'Microsoft.Fabric/capacities', parameters('fabricCapacityName')))]",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com"
                }
              },
              "runAfter": {}
            },
            "Check_If_Active": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Get_Current_Capacity_State')?['properties']?['state']",
                      "Active"
                    ]
                  }
                ]
              },
              "actions": {
                "Suspend_Capacity": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[format('https://management.azure.com{0}/suspend?api-version=2023-11-01', extensionResourceId(format('/subscriptions/{0}/resourceGroups/{1}', subscription().subscriptionId, parameters('fabricCapacityResourceGroupName')), 'Microsoft.Fabric/capacities', parameters('fabricCapacityName')))]",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com"
                    }
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_Current_Capacity_State": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "resumeRoleAssignment",
      "resourceGroup": "[parameters('fabricCapacityResourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "capacityName": {
            "value": "[parameters('fabricCapacityName')]"
          },
          "principalId": {
            "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-resume', parameters('namePrefix'))), '2019-05-01', 'full').identity.principalId]"
          },
          "roleDefinitionId": {
            "value": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('contributorRoleId'))]"
          },
          "logicAppResourceId": {
            "value": "[resourceId('Microsoft.Logic/workflows', format('{0}-resume', parameters('namePrefix')))]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.42.1.51946",
              "templateHash": "13533890501309089578"
            }
          },
          "parameters": {
            "capacityName": {
              "type": "string",
              "metadata": {
                "description": "Name of the existing Fabric capacity to assign the role on"
              }
            },
            "principalId": {
              "type": "string",
              "metadata": {
                "description": "Principal ID of the Logic App managed identity"
              }
            },
            "roleDefinitionId": {
              "type": "string",
              "metadata": {
                "description": "Full resource ID of the role definition to assign"
              }
            },
            "logicAppResourceId": {
              "type": "string",
              "metadata": {
                "description": "Unique suffix to make the role assignment name deterministic"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Fabric/capacities', parameters('capacityName'))]",
              "name": "[guid(resourceId('Microsoft.Fabric/capacities', parameters('capacityName')), parameters('logicAppResourceId'), parameters('roleDefinitionId'))]",
              "properties": {
                "roleDefinitionId": "[parameters('roleDefinitionId')]",
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', format('{0}-resume', parameters('namePrefix')))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2025-04-01",
      "name": "suspendRoleAssignment",
      "resourceGroup": "[parameters('fabricCapacityResourceGroupName')]",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "capacityName": {
            "value": "[parameters('fabricCapacityName')]"
          },
          "principalId": {
            "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-suspend', parameters('namePrefix'))), '2019-05-01', 'full').identity.principalId]"
          },
          "roleDefinitionId": {
            "value": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('contributorRoleId'))]"
          },
          "logicAppResourceId": {
            "value": "[resourceId('Microsoft.Logic/workflows', format('{0}-suspend', parameters('namePrefix')))]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.42.1.51946",
              "templateHash": "13533890501309089578"
            }
          },
          "parameters": {
            "capacityName": {
              "type": "string",
              "metadata": {
                "description": "Name of the existing Fabric capacity to assign the role on"
              }
            },
            "principalId": {
              "type": "string",
              "metadata": {
                "description": "Principal ID of the Logic App managed identity"
              }
            },
            "roleDefinitionId": {
              "type": "string",
              "metadata": {
                "description": "Full resource ID of the role definition to assign"
              }
            },
            "logicAppResourceId": {
              "type": "string",
              "metadata": {
                "description": "Unique suffix to make the role assignment name deterministic"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "scope": "[resourceId('Microsoft.Fabric/capacities', parameters('capacityName'))]",
              "name": "[guid(resourceId('Microsoft.Fabric/capacities', parameters('capacityName')), parameters('logicAppResourceId'), parameters('roleDefinitionId'))]",
              "properties": {
                "roleDefinitionId": "[parameters('roleDefinitionId')]",
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', format('{0}-suspend', parameters('namePrefix')))]"
      ]
    }
  ],
  "outputs": {
    "resumeLogicAppName": {
      "type": "string",
      "value": "[format('{0}-resume', parameters('namePrefix'))]"
    },
    "suspendLogicAppName": {
      "type": "string",
      "value": "[format('{0}-suspend', parameters('namePrefix'))]"
    },
    "resumePrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-resume', parameters('namePrefix'))), '2019-05-01', 'full').identity.principalId]"
    },
    "suspendPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-suspend', parameters('namePrefix'))), '2019-05-01', 'full').identity.principalId]"
    }
  }
}