azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.42.1.51946",
      "templateHash": "12038975073026617366"
    }
  },
  "parameters": {
    "namePrefix": {
      "type": "string",
      "metadata": {
        "description": "Name prefix for the Logic App resources"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "fabricCapacityName": {
      "type": "string",
      "metadata": {
        "description": "Name of the existing Fabric capacity to manage"
      }
    },
    "timeZone": {
      "type": "string",
      "defaultValue": "Eastern Standard Time",
      "metadata": {
        "description": "Time zone for the schedule"
      }
    },
    "resumeHour": {
      "type": "int",
      "defaultValue": 8,
      "metadata": {
        "description": "Hour to resume the capacity (24-hour format)"
      }
    },
    "suspendHour": {
      "type": "int",
      "defaultValue": 17,
      "metadata": {
        "description": "Hour to suspend the capacity (24-hour format)"
      }
    }
  },
  "variables": {
    "contributorRoleId": "b24988ac-6180-42a0-ab88-20f7382dd24c"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('{0}-resume', parameters('namePrefix'))]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                  ],
                  "hours": [
                    "[parameters('resumeHour')]"
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "[parameters('timeZone')]"
              }
            }
          },
          "actions": {
            "Get_Current_Capacity_State": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[format('https://management.azure.com{0}?api-version=2023-11-01', resourceId('Microsoft.Fabric/capacities', parameters('fabricCapacityName')))]",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com"
                }
              },
              "runAfter": {}
            },
            "Check_If_Paused": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Get_Current_Capacity_State')?['properties']?['state']",
                      "Paused"
                    ]
                  }
                ]
              },
              "actions": {
                "Resume_Capacity": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[format('https://management.azure.com{0}/resume?api-version=2023-11-01', resourceId('Microsoft.Fabric/capacities', parameters('fabricCapacityName')))]",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com"
                    }
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_Current_Capacity_State": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('{0}-suspend', parameters('namePrefix'))]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "weekDays": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                  ],
                  "hours": [
                    "[parameters('suspendHour')]"
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "[parameters('timeZone')]"
              }
            }
          },
          "actions": {
            "Get_Current_Capacity_State": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[format('https://management.azure.com{0}?api-version=2023-11-01', resourceId('Microsoft.Fabric/capacities', parameters('fabricCapacityName')))]",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com"
                }
              },
              "runAfter": {}
            },
            "Check_If_Active": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Get_Current_Capacity_State')?['properties']?['state']",
                      "Active"
                    ]
                  }
                ]
              },
              "actions": {
                "Suspend_Capacity": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[format('https://management.azure.com{0}/suspend?api-version=2023-11-01', resourceId('Microsoft.Fabric/capacities', parameters('fabricCapacityName')))]",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com"
                    }
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_Current_Capacity_State": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "scope": "[resourceId('Microsoft.Fabric/capacities', parameters('fabricCapacityName'))]",
      "name": "[guid(resourceId('Microsoft.Fabric/capacities', parameters('fabricCapacityName')), resourceId('Microsoft.Logic/workflows', format('{0}-resume', parameters('namePrefix'))), variables('contributorRoleId'))]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('contributorRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-resume', parameters('namePrefix'))), '2019-05-01', 'full').identity.principalId]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', format('{0}-resume', parameters('namePrefix')))]"
      ]
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "scope": "[resourceId('Microsoft.Fabric/capacities', parameters('fabricCapacityName'))]",
      "name": "[guid(resourceId('Microsoft.Fabric/capacities', parameters('fabricCapacityName')), resourceId('Microsoft.Logic/workflows', format('{0}-suspend', parameters('namePrefix'))), variables('contributorRoleId'))]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('contributorRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-suspend', parameters('namePrefix'))), '2019-05-01', 'full').identity.principalId]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', format('{0}-suspend', parameters('namePrefix')))]"
      ]
    }
  ],
  "outputs": {
    "resumeLogicAppName": {
      "type": "string",
      "value": "[format('{0}-resume', parameters('namePrefix'))]"
    },
    "suspendLogicAppName": {
      "type": "string",
      "value": "[format('{0}-suspend', parameters('namePrefix'))]"
    },
    "resumePrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-resume', parameters('namePrefix'))), '2019-05-01', 'full').identity.principalId]"
    },
    "suspendPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', format('{0}-suspend', parameters('namePrefix'))), '2019-05-01', 'full').identity.principalId]"
    }
  }
}